<!-- image_tag(current_user.profile_photo) -->
<div class="page-header text-center">
    <h1> <%= @user.first_name %> <%= @user.last_name %> </h1>
</div>
<div class="large-7 large-centered columns">
  <div class="panel">
      <%= image_tag(@user.profile_photo) %>
      <ul>
        <li><strong>username:</strong> <%= @user.username %></li>
        <li><strong>email:</strong> <%= @user.email %></li>
      </ul>
  </div>
  <div class="text-center">
    <%= link_to "Hit the State!", states_path, class: "custom-button button" %>
    <%= link_to "Hit the Categories Section!", categories_path, class: "custom-button button" %>
    <%= link_to "Edit User Profile", edit_user_registration_path, class: "custom-button button" %>
  </div>
</div>
