<div class="div-height large-7 large-centered columns">
  <h1 class="edit-headers">Edit State</h1>
  <div class="panel">
    <%= form_for @state do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true %>

      <%= f.label :description %>
      <%= f.text_area :description %>

      <%= f.label :website_url %>
      <%= f.url_field :website_url %>

      <%= f.submit "Edit state", class: "custom-button button expand"  %>
    <%- end -%>
  </div>
</div>
