<div class="gb-index">
  <div class="row">
    <h1 class="gb-text">States</h1>
    <% @states.each do |state| %>
      <div class="large-4 medium-6 small-10 small-centered columns">
        <div class="box">
          <div class="box-icon">
            <span <%= image_tag("Greater.png") %> ></span>
          </div>
          <div class="info text-center">
            <h4> <%= link_to state.name, state_path(state) %> </h4>
            <p> <%= state.description.truncate(255, separator: ' ') %> </p>
            <a href="<%= state_cities_path(state.id) %>" class="button custom-button">Enter</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="gimmie-margin text-center">
    <% if current_user && current_user.admin? %>
      <%= link_to "Add a state", new_state_path, class: "custom-button button gimmie-margin" %> <br >
    <% end %>
    <%= link_to "Home", root_path, class: "custom-button button" %>
  </div>
</div>
