<div class="row">
  <center><h1>States</h1></center>
  <% @states.each do |state| %>
    <div class="medium-4 small-6 columns">
      <div class="box">
        <div class="box-icon">
          <span <%= image_tag("Greater.png") %> ></span>
        </div>
        <div class="info">
          <h4 class="text-center"> <%= state.name %> </h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti atque, tenetur quam aspernatur corporis at explicabo nulla dolore necessitatibus doloremque exercitationem sequi dolorem architecto perferendis quas aperiam debitis dolor soluta!</p>
          <a href="<%= state_path(state) %>" class="button custom-button">Enter</a>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% if current_user.admin? %>
  <%= link_to "Add a state", new_state_path %> <br >
<% end %>
<%= link_to "Home", root_path %>
