<div class="row">
  <div class="large-12">
    <h1> <%= @state.name %> </h1>
    <div class="panel">
      <span><b>Description:</b> <%= @state.description %></span><br />
      <% if @state.website_url %>
        <span><b>Website:</b> <%= @state.website_url %></span><br />
        <% end %>
    </div>
    <%= link_to "Edit state", edit_state_path %> <br >
    <%= link_to "Delete state", state_path(@state), method: :delete %> <br >
    <%= link_to "Home", states_path %> <br >
    <%= link_to "Cities in this state", state_cities_path(@state) %> <br >

  </div>
</div>
