<div class="event-background">
  <div class="row">
    <div class="small-3 small-centered columns">
      <h5 class="local-header top">Currently in</h5>
      <h2 class="local-header top"> <%= @neighborhood.name %>, MA </h2>
    </div>
  </div>

  <div class="row spacer">
    <% 3.times do %>
    <div class="small-4 columns">
      <div class="header panel">
        <div class="sign">
          <h1>News</h1>
        </div>
        <p><span>Dude! I Want that!</span> In addition to their portability and minimal space requirements for storage, the Equalizer bars also simplify workouts by consolidating all exercises to a single machine that requires no weight stack adjustments or significant alterations between them. Each weighs 8 pounds, and the system has been tested to support up to 400 pounds of body weight.</p>
      </div>
    </div>
    <% end %>
  </div>
</div>

<div class="current">
  <div class="shaded">
    <div class="row event-button">
      <div class="small-3 small-centered columns">
          <h5 class="local-header">Events Around</h5>
          <h2 class="local-header"> <%= @neighborhood.name %></h2>
      </div>
      <div class="small-3 right columns">
          <p> <%= link_to "Add an event", new_neighborhood_event_path %> </p>
      </div>
    </div>
  </div>

  <div class="row events-around-spacer">
    <div class="row">
      <% @featured_events.each do |event| %>
      <div class="medium-6 large-4 columns">
        <article class="article-card">
            <img class="event-topper" src= "<%= event.photo_url %>" />
          <div class="card-content post-icon">
            <div class="same-line">
              <%= image_tag("Greater.png") %>
              <a href="#" class="post-author"> By: <%= event.user.first_name %> <%= event.user.last_name %> </a>
            </div>
            <h4> <%= event.event_header %> </h4>
            <p> <%= event.description %> </p>
            <p>
              <a href="#">Read on...</a>
              <a href="#" class="right"><i class="fa fa-share-alt"></i></a>
              <a href="#" class="right"><i class="fa fa-heart"></i></a><br >
              <%= link_to event.name, event_path(event) %>
            </p>
          </div>
        </article>
      </div>
      <% end %>
    </div>
  </div>

<%= link_to "Neighborhoods in the city", city_neighborhoods_path(@neighborhood.city) %>
</div>
