<div class="event-background">
  <div class="row event-button">
    <div class="small-8 columns">
      <h5 class="local-header top">Featured Events in</h5>
      <h2 class="local-header top"> <%= @neighborhood.name %>, MA </h2>
    </div>
    <div class="small-4 columns">
      <%= link_to "Change Location", city_neighborhoods_path(@neighborhood.city_id), class: "local-header custom-button button" %>
    </div>
  </div>

  <div class="row events-around-spacer">
    <%= render "events/featured_events" %>
  </div>

<div class="current">
  <div class="shaded">
    <div class="row event-button">
      <div class="small-8 columns">
          <h5 class="local-header">Events Around</h5>
          <h2 class="local-header"> <%= @neighborhood.name %></h2>
      </div>
      <div class="small-4 columns">
        <%= link_to "Add an event", new_neighborhood_event_path, class: "local-header custom-button button" %>
      </div>
    </div>
  </div>

  <div class="row events-around-spacer">
    <div class="row">
      <% @events.each do |event| %>
      <div class="medium-6 large-4 columns">
        <article class="article-card">
            <img class="event-topper" src= "<%= event.photo_url %>" />
          <div class="card-content post-icon">
            <h4 class="event-header"> <%= link_to event.name, event_path(event) %> </h4>
            <p> <%= event.description.truncate(150, separator: ' ') %> </p>
            <div class="event-info-wrapper clearfix">
              <p class="center-event-actions">
                <a href="#"> <%= image_tag("user_add.png", class: "event-actions") %> </a>
                <!-- if current.user is attending <a href="#"> <%= image_tag("user_check.png", class: "event-actions") %> </a><br > -->
                <a href="#"> <%= image_tag("share.png", class: "event-actions gimmie-space") %> </a> <br >
              </p>
              <div class="medium-4 columns center-me">
                <p class="event-date"> <%= event.date.strftime("%B") %> </p>
                <p class="event-day"> <strong><%= event.date.strftime("%d") %></strong> </p>
              </div>
              <div class="medium-8 columns">
                <p class="event-address"> <i class="fa fa-map-marker"></i> <%= event.address %> </p>
                <p class="event-address"> <%= event.neighborhood.name %>, <%= event.neighborhood.city.state.name %></p>
              </div>
            </div>
          </div>
        </article>
      </div>
      <% end %>
    </div>
  </div>
  <div class="gimmie-margin text-center">
    <%= link_to "Back to neighborhood", neighborhood_path(@neighborhood), class: "custom-button button" %>
  </div>
</div>
</div>
