<div class"row">
  <div class="small-10 small-centered columns">
    <h1>New Event</h1>
    <div class="panel">
      <%= form_for [@neighborhood, @event] do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :category_id %>
        <%= f.select :category_id, Category.all.map { |category| [category.name, category.id] } %>

        <%= f.label :description %>
        <%= f.text_area :description %>

        <%= f.label :date %>
        <%= f.datetime_local_field :date %>

        <div id="locationField">
          <label for="address">Address</label>
          <input id="autocomplete" onFocus="geolocate()" type="text" name="event[address]"></input>
        </div>

        <%= f.label :photo_url %>
        <%= f.url_field :photo_url %>

        <%= f.label :facebook_url %>
        <%= f.url_field :facebook_url %>

        <%= f.label :twitter_url %>
        <%= f.url_field :twitter_url %>

        <%= f.submit "Add new event" %>
      <%- end -%>
    </div>
  </div>
</div>
