<div class="row">
  <div class="large-12">
    <h1> <%= @event.name %> </h1>
    <div class="panel">
      <span><b>Description:</b> <%= @event.description %></span><br />
      <% if @event.website_url %>
        <span><b>Website:</b> <%= @event.website_url %></span><br />
        <% end %>
    </div>
    <%= link_to "Edit event", edit_event_path %> <br >
    <%= link_to "Delete event", event_path(@event), method: :delete %> <br >
    <%= link_to "Back to neighborhood events", neighborhood_events_path(@event.neighborhood) %> <br >
  </div>
</div>
