<div class="row">
  <div class="large-12">
    <h1> <%= @event.name %> </h1>
    <div class="panel">
      <span><b>Description:</b> <%= @event.description %></span><br />
    </div>
    <div class="row">
      <b>Avg Rating: <%= avg_rating%></b>
      <b>Reviews:</b>
      <% @reviews.each do |review| %>
        <div class="row">
          <div class="small-8">
            <%= review.user.first_name %>: <%= review.body %>
          </div>
        </div>
      <% end %>
    </div>
    <%= link_to "Add review", new_event_review_path(@event) %> <br >
    <%= link_to "Edit event", edit_event_path %> <br >
    <%= link_to "Delete event", event_path(@event), method: :delete %> <br >
    <%= link_to "Back to neighborhood events", neighborhood_events_path(@event.neighborhood) %> <br >
  </div>
</div>
