<div class="large-12">
  <h1>Edit City</h1>
  <div class="panel">
    <%= form_for @city do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :description %>
      <%= f.text_area :description %>

      <%= f.label :website_url %>
      <%= f.url_field :website_url %>

      <%= f.submit "Edit city" %>
    <%- end -%>
  </div>
</div>
