<div class="div-height large-7 large-centered columns">
  <h1 class="edit-headers">Edit Neighborhood</h1>
  <div class="panel">
    <h5>What would you like to change?</h5>
    <%= form_for @neighborhood do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :description %>
      <%= f.text_area :description %>

      <%= f.submit "Edit neighborhood", class: "custom-button button expand" %>
    <%- end -%>
  </div>
  <div class="panel">
    <%= link_to "Delete neighborhood", neighborhood_path(@neighborhood), method: :delete, data: {confirm: "Are you sure?"}, class: "custom-button button expand" %>
  </div>
</div>
