<div class="edit-page-div large-7 large-centered columns">
  <h1 class="edit-headers">New Neighborhood</h1>
  <div class="panel">
    <%= form_for [@city, @neighborhood] do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :description %>
      <%= f.text_area :description %>

      <%= f.label :website_url %>
      <%= f.url_field :website_url %>

      <%= f.submit "Add new neighborhood", :class => "button expand" %>
    <%- end -%>
  </div>
</div>
