<!DOCTYPE html>
<html>
<head>
  <title>Greater Boston</title>
  <%= stylesheet_link_tag 'application', 'main', media: 'all' %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Oswald:700,300" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1> <%= link_to 'Greater Boston', root_path %> </h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <li class="has-form">
          <div class="row collapse">
            <form>
              <%= form_tag root_path, :method => "get", id: "search-form" do %>
              <div class="large-8 small-9 columns">
                <%= text_field_tag :search, params[:search], required: true, placeholder: "Search" %>
              </div>
            <% end %>
          </form>
        </div>
      </li>
        <%- if current_user -%>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
          <li><%= link_to current_user.username, user_path(current_user) %></li>
        <%- else -%>
          <li><%= link_to 'Facebook', '/auth/facebook' %></li>
          <li><%= link_to 'Twitter', '/auth/twitter' %></li>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
        <%- end -%>
      </ul>
    </section>
  </nav>

  <div class="row">
    <div class="small-6 columns small-centered">
    <%- flash.each do |key, value| -%>
      <div data-alert class="flash alert-box <%= key %>" >
        <%= value %>
        <a href="#" class="close">&CircleTimes;</a>
      </div>
    <%- end -%>
    </div>
  </div>

      <%= yield %>

  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'main' %>
  <%= yield :extra_footer %>
  <footer class="footer">
  <div class="row">
    <div class="small-12 medium-6 large-5 columns">
      <p class="logo"><i class="fi-shield"></i> Greater Boston</p>
      <p class="footer-links">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="https://medium.com/@lamontefields/greater-boston-21b267c0d3ce" target="_blank">Blog</a>
        <a href="/news">News/Events</a>
        <a href="/faq">Faq</a>
        <a href="/contact">Contact</a>
      </p>
      <p class="copywrite">Copywrite © 2015</p>
    </div>
    <div class="small-12 medium-6 large-4 columns">
      <ul class="contact">
        <li><p><i class="fa fa-street-view"></i>33 Harrison Ave, Boston, MA 02111</p></li>
        <li><p><i class="fa fa-mobile"></i>+1-101-001-0101</p></li>
        <li><p><i class="fa fa-envelope-o"></i>mygreaterboston@gmail.com</p></li>
      </ul>
    </div>
    <div class="small-12 medium-12 large-3 columns">
      <p class="about">Blah</p>
      <p class="about subheader">Blah Blah Blah</p>
      <ul class="inline-list social">
        <a href="https://www.facebook.com/mygreaterboston?ref=hl" target="_blank"><i class="fa fa-facebook-square"></i></a>
        <a href="https://twitter.com/MyGreaterBoston" target="_blank"><i class="fa fa-twitter-square"></i></a>
        <a href="https://instagram.com/mygreaterboston/" target="_blank"><i class="fa fa-instagram"></i></a>
        <a href="https://github.com/lfields90/GreaterBoston" target="_blank"><i class="fa fa-github-square"></i></a>
      </ul>
    </div>
  </div>
</footer>
</body>
</html>
